doctype html
title=title
link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/stylesheets/nodegame.css')
link(rel='stylesheet', type='text/css', href='../css/style.css')

block extraHead

body

block mainContent